.background {
  background: #ffff;
  padding: 30px;
  justify-items: center;
  margin-top: 20vh;

  img {
    width: 350px;
  }

  .quiz {
        padding: 20px 0 ;
    h2 {
      font-size: 25px;
    }

    .btn {
      background: #fff;
      font-weight: 500;
      width: 100%;
      border: 2px #7868b2 solid;
      padding: 10px;
      margin: 10px 0;
      text-align: left;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s;
    }
    .btn:hover:not([disabled]) {
      background: #7868b2;
      color: #fff;
    }
    .btn:disabled {
      cursor: no-drop;
    }

    .nextBtn{
    background: #7868b2;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border:0 ;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}

  }

}
