.background {
  background: #ffff;
  justify-items: center;
  margin-block: 7vh;
  padding: 30px;

  text-align: center;

  img {
    width: 350px;
    width: 100%;
  }

  .quiz {
    display: inline-block;
   
  }
  h2 {
    font-size: 25px;
  }
  .buttons {
    margin-bottom: 50px;
  }

  .btn {
    background: #fff;
    font-weight: 500;
    width: 100%;
    border: 2px #7868b2 solid;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    padding: "10px";
  }

  .nextBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    background-color: #7868b2;
    border-radius: 30px;
    border: none;
  }
}
.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
}
